.body{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: auto;
}

.Elder{
    background-color: white;
    height: 430px;
    width: 300px;
    border-radius: 0%;
    padding: ;
}